@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .row {
        width: 100%;
        margin: 0 auto;
    }

    .block {
        width: 15%;
        display: inline-block;
    }

    #scrolly {
        width: 1000px;
        height: 190px;
        overflow: auto;
        overflow-y: hidden;
        margin: 0 auto;
        white-space: nowrap
    }

    img {
        width: 200px;
        object-fit: contain;
        margin: 20px 10px;
        display: inline;
    }
    
    [type=checkbox] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }
        /* IMAGE STYLES */
        [type=checkbox] + [id=a] {
            cursor: pointer;
            color: grey
        }
        /* CHECKED STYLES */
        [type=checkbox]:checked + [id=a] {
            color: blue;
        }
</style>
<a asp-controller="Game" asp-action="Details" asp-route-id="@Model.GameId">@Model.Game</a>
<div align="center"><h1>@Model.Name</h1></div>

<hr style="border-width: 3px" />
<div class="row mb-0">
    <div class="block">
        <div>Uploaded by</div>
        <div><a asp-area="" asp-controller="User" asp-action="UserMods" asp-route-Id="@Model.UserName"> @Model.UserName</a></div>
    </div>
    <div class="block">
        <div>Uploaded on</div>
        <div>@Model.CreatedOn.ToString("dd/MM/yyyy")</div>
    </div>
    <div class="block">
        <div>Votes</div>
        <div id="vCount">@Model.VoteCount</div>
    </div>
    <div class="block">
        <div>Views</div>
        <div>@Model.Views</div>
    </div>
    <div class="block">
        <div>Total DLs</div>
        <div>@Model.TotalDownloadCount</div>
    </div>
    <div class="block" style="width: 10%">
        <div>Version</div>
        <div>@Model.Version</div>
    </div>
    <div class="block">

        <div style="float: left; width: 30%;">
            <label>
                @if (Model.Voted == true)
                {
                    <input id="up" type="checkbox" onclick="@("voteModFunc('" + Model.Id + "')")" class="radio" name="a" checked disabled />
                }
                else
                {
                    <input id="up" type="checkbox" onclick="@("voteModFunc('" + Model.Id + "')")" class="radio" name="a" />
                }
                <i id="a" class="fa fa-thumbs-up" style="font-size: 40px;"></i>
            </label>
        </div>
        <div style="float: right; width: 70%;"><a asp-controller="Mod" asp-action="Download" asp-route-id="@Model.Files[0].FilePath.Split("/")[2]"  asp-route-name="@Model.Name" asp-route-modId="@Model.Id" asp-route-gameId="@Model.GameId" class="btn btn-primary btn-md">Download</a></div>
    </div>

</div>
<hr style="border-width: 3px" />

<div id='scrolly'>
    @foreach (var image in Model.Pictures)
    {
        <a href="@image"><img src=@image></img></a>
    }
</div>
<hr style="border-width: 3px" />

<div><h3>Description</h3></div>
<hr style="border-width: 1px" />
<div><span>@Model.Description</span></div>
<hr style="border-width: 3px" />

<div align="center">
    <div class="col-10 col-sm-10 col-md-8 col-lg-7 mb-7" style="padding-bottom: 20px">
        <div class="card h-100">
            <!--<input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>-->
            <textarea id="myTextarea" placeholder="Write a comment..." class="post focus" style="resize: none"></textarea>
            <div class="card-footer d-flex justify-content-around text-center bg-white pl-0 pr-0 pt-0 pb-0">

                <button onclick="@("myFunction('"+Model.Id+"')")" class="btn btn-primary" data-assigned-id="@Model.Id">Post</button>
            </div>
        </div>
    </div>
</div>

<div align="center">
    @foreach (var comment in Model.Comments)
    {
        <div class="col-10 col-sm-10 col-md-8 col-lg-7 mb-7" style="padding-bottom: 20px">
            <div class="card h-100">
                <div>
                    <span class="stars mx-auto pb-1 text">
                        <a asp-area="" asp-controller="User" asp-action="UserMods" asp-route-Id="@comment.UserName"> @comment.UserName</a> - @comment.CreatedOn
                    </span>
                </div>


                <textarea id="myTextarea2" class="post focus" style="resize: none" readonly>@comment.Content</textarea>
            </div>
        </div>
    }
</div>


<script>

    function voteModFunc(elem) {
        var ModId = elem
        var vCount = document.getElementById("vCount");
       
        var data = { ModId: ModId };
        
        $.ajax({
            type: 'POST',
            url: '/Mod/VoteMod',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (result) {
                console.log(data);
                console.log(result);
                vCount.innerHTML = result;
            },
            error: function (result) {
                console.log(result);
            }
        });
        document.getElementById("up").disabled = true;
    }

    $("input:checkbox").on('click', function () {
        var $box = $(this);
        if ($box.is(":checked")) {
            var group = "input:checkbox[name='" + $box.attr("name") + "']";
            $(group).prop("checked", false);
            $box.prop("checked", true);
        } else {
            $box.prop("checked", false);
        }
    });

    function myFunction(elem) {
        var Comment = document.getElementById("myTextarea").value;
        var PostId = elem
        var data = { Content: Comment, Id: PostId }
        /*$.ajax({
            url: 'Post/Test',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function () {
                alert('success');
            },
            error: function () {
                alert(data.Content);
            }
        });*/
        var data2 = { Content: Comment }
        console.log('Submitting form...');
        $.ajax({
            type: 'POST',
            url: '/Mod/AddComment',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (result) {
                location.reload();
            },
            error: function (result) {
                
            }
        });
        document.getElementById("myTextarea").value = "";
    }
</script>