@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var Name = Url.ActionContext.RouteData.Values;
}
@if (User.Identity.IsAuthenticated)
{
    @if (User.Identity.Name.Equals(Name["Id"]))
    {
        <div>
            <partial name="_UserProfileOptions" />
        </div>
        <h1>My Mods</h1>
    }
    else
    {
        <h1> @Name["Id"]'s Mods</h1>
        <div><a asp-area="" asp-controller="PrivateMessage" asp-action="Create" asp-route-Id="@Name["Id"]"> Send private message</a></div>
    }
}
else
{
    <h1> @Name["Id"]'s Mods</h1>
    <div><a asp-area="" asp-controller="PrivateMessage" asp-action="Create" asp-route-Id="@Name["Id"]"> Send private message</a></div>
}




<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    img {
        width: 100%;
        object-fit: contain;
    }

    /* Dropdown Button */
    .dropbtn {
        background-color: #ddd;
        color: black;
        padding: 5px 10px;
        font-size: 16px;
        border: none;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        /* Links inside the dropdown */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            /* Change color of dropdown links on hover */
            .dropdown-content a:hover {
                background-color: #ddd;
            }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
        background-color: #bbf;
    }
</style>

<div class="dropdown">
    <button class="dropbtn">Sort</button>
    <div class="dropdown-content">
        <a asp-area="" asp-controller="User" asp-action="UserMods" asp-route-Id="@Name["Id"]" asp-route-sortType="Date" class="dropdown-item nav-link text-black-50"><i></i>Date</a>
        <a asp-area="" asp-controller="User" asp-action="UserMods" asp-route-Id="@Name["Id"]" asp-route-sortType="Views" class="dropdown-item nav-link text-black-50"><i></i>Views</a>
        <a asp-area="" asp-controller="User" asp-action="UserMods" asp-route-Id="@Name["Id"]" asp-route-sortType="Downloads" class="dropdown-item nav-link text-black-50"><i></i>Downloads</a>
        <a asp-area="" asp-controller="User" asp-action="UserMods" asp-route-Id="@Name["Id"]" asp-route-sortType="Votes" class="dropdown-item nav-link text-black-50"><i></i>Votes</a>
    </div>
</div>


<div class="row">
    @foreach (var mod in Model)
    {
        <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-3">
            <div class="card h-100">
                <div class="mt-0">
                    <li class="list-group-item text-center font-weight-bold text-danger">@mod.Name</li>
                </div>
                <a asp-controller="Mod" asp-action="Details" asp-route-id="@mod.Id">
                    <div class="card-img-top zoom" style="height: 200px">
                        <img src="@mod.MainPicturePath" height="100%" alt="@mod.Name">
                    </div>
                </a>
                <div class="meta clearfix" style="font-size: 11pt">
                    &nbsp;&nbsp;
                    <time class="date">
                        <span class="label">Uploaded: </span>
                        @mod.CreatedOn.ToString("dd/MM/yyyy")
                    </time>

                    <div class="author">
                        &nbsp;&nbsp;&nbsp;<span class="label">Game: </span>
                        <a asp-area="" asp-controller="Game" asp-action="Details" asp-route-Id="@mod.GameId"> @mod.Game</a>
                    </div>

                </div>
                <div class="card-body text-center h-25 pb-0 pt-0 pl-0 pr-0">
                    <div class="mt-0">
                        <li class="list-group-item text-center font-weight-bold text-danger">
                            <div class="d-flex" style="height: 10px">
                                <i class="fa fa-thumbs-up">&nbsp;&nbsp;@mod.VoteCount</i>&nbsp;&nbsp;&nbsp;&nbsp;
                                <i class="fa fa-download">&nbsp;&nbsp;@mod.TotalDownloadCount</i>
                            </div>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            @if (User.Identity.Name.Equals(Name["Id"]))
                            {
                                <a asp-controller="Mod" asp-action="Edit" asp-route-id="@mod.Id" class="btn btn-primary btn-md">Edit</a>
                                <a asp-controller="Mod" asp-action="Delete" asp-route-id="@mod.Id" class="btn btn-primary btn-md">Delete</a>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>
